<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.jpg"/>
        <span id="welcomeHeader">BIENVENUE SUR PAYCRAFT !</span>
        <span id="welcomeDescription">Paycraft est un serveur MMORPG/RP braqueur free access & crack dans le quel vous créez votre histoire de braqueur. Dévalisez banques, bijouteries, musés, volez des informations sensibles au gouvernement et devenez le criminel le plus redouté !

            Plongez dans un openworld, seul, ou avec vos amis, achetez une propriétée pour y organiser vos plans, briefez votre équipe, et optez pour la meilleur solution pour votre braquage, foncer dans le tas, ou se cacher et voler sans être vue.
            
            Le serveur est remplis de méchaniques inédites, entièrements développés par nos équipes et principalement inspirés du jeu Payday2. Nous faisons de notre mieu pour optimiser l'unique mod et permettre à tout le monde de jouer sans problèmes !
            
            Le jeu est dynamique et propose constemment des choses à faire grâce aux IA dans la rue, ou aux IA policiers, grace aux missions quotidiennes, et aux activités qui seront progressivement ajoutés au serveur après son ouverture
            
            Rejoignez nous sans plus attendre ! Le serveur est encors en cours de développement, l'accès au serveur est donc réservés au staff.
            
            Un classement sera instauré en jeu pour vous permettre de vous comparer aux autres braqueures, par conséquent, il faudra gérer intelligemment votre argent, vos braquages, et votre équipe !
            
            Vous pouvez créer un gang et le définir dans un QG pour ensuite accéder à de plus gros braquages, et braquer avec vos amis, tout en centralisant une partie de l'argent récolté.</span>
        <br>
        <span id="welcomeDescCTA">Vous allez pouvoir vous connecter au serveur</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>